@{
    Layout = null;
}

@model ToDoList.Domain.Task
<form asp-action="EditTask" asp-controller="Task" onsubmit="return jQueryAjaxPost(this)" autocomplete="off">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <input asp-for="Id" type="hidden"/>
        <input asp-for="UserId" type="hidden" />
        <div class="form-group">
            <label asp-for="Name">Назва завдання</label><br />
            <input class="form-control" type="text" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Опис</label><br />
            <textarea class="form-control" type="text" asp-for="Description" rows="3"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="EnrollDeadline">Термін</label>
            <input class="form-control" type="date" asp-for="EnrollDeadline">
            <span class="text-danger" asp-validation-for="EnrollDeadline"></span>
        </div>
        <div class="form-group">
            <label asp-for="Importance">Важливість</label><br />
            <select class="form-control" asp-for="Importance">
                <option value="1">В останню чергу</option>
                <option value="2">Спокійно приступай</option>
                <option value="3">Негайно!!!</option>
            </select>
            <span class="text-danger" asp-validation-for="Importance"></span>
        </div>
        <div class="form-group">
            <label asp-for="Status">Статус</label><br />
            <select asp-for="Status" class="form-control">
                <option value="1">Не розпочато</option>
                <option value="2">В ході виконання</option>
                <option value="3">Виконано</option>
            </select>
        </div>
        <div class="modal-footer">
            <input class="btn btn-primary" type="submit" value="Оновити" />
            <a class="btn btn-secondary text-white" aria-hidden="true" data-dismiss="modal">Закрити</a>
        </div>
    </div>
</form>