<p>
    <a asp-action="Login" asp-controller="Account">Увійти</a>
</p>
<p>
    <a asp-action="Register" asp-controller="Account">Реєстрація</a>
</p>
<p>
    <a asp-action="Task" asp-controller="ListTask">Завдання</a>
</p>
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button>Logout</button>
    </form>
